<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Register
</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Register</h4>

  </div>
  <div class="modal-body">
      <div id="Register">
        <form action="">
          <label for="usuario">Username:</label>
          <input type="text" name="usuario" id="usuario">
          <label for="clave">Password:</label>
          <input type="text" name="clave" id="clave">  
          <label for="clave">Repeat Password:</label>
          <input type="text" name="clave" id="clave">
        </form>
        <div class="submit">
            <button type="button" class="btn btn-primary">submit</button>
        </div>
      </div> 
  </div>
</ng-template>