<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Register
</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Register</h4>

  </div>
  <div class="modal-body">
      <div id="Register">
        <form [formGroup]="form" (ngSubmit)="register()">
          <label for="email">E-mail:</label>
          <input type="email" formControlName="email">
          <label for="email">Nombre:</label>
          <input type="name" formControlName="name">
          <label for="password">Password:</label>
          <input type="password" formControlName="password">  
          <label for="passwordConf">Repeat Password:</label>
          <input type="password" formControlName="passwordConf">
          <div class="submit">
            <button type="button submit" class="btn btn-primary" (click)="closeFirstModal()">submit</button>
          </div>
        </form>
      </div> 
  </div>
</ng-template>