<div class="card text-center">
    <div class="card-header">
      <a>Factura Detallada</a>
    </div>
    <div class="card-body">
      <h4 class="card-title">TOTAL: {{u.carrito.monto}} BsS. </h4>
      <h4 class="card-text">IVA: {{(u.carrito.monto*12)/100}} BsS.</h4>
      <h3>TOTAL + IVA = {{u.carrito.monto+(u.carrito.monto*12)/100}} BsS.</h3>
    </div>
    <div class="card-footer text-muted">
        <app-paypalbtn [u] = u [monto] = u.carrito.monto></app-paypalbtn>
        <div id="comprar">
          <button (click)="menu()" type="button" class="btn btn-primary">regresar al menu</button>
          <button (click)="cs.guardarOrden(u)" type="button" class="btn btn-primary">simular pago</button>
        </div>
    </div>
</div>