// variables:
$colors:(
    primary: #0b172a,
    primary-light: lighten(#0b172a,40%),
    primary-dark: darken(#0b172a,40%),
    secondary: #463940,
    tertiary: #bc4123,
    acento: white,
);
$desktop: 1200px;
$cambio1: 840px;
$cambio2: 450px;
$padding: 15px;
$borders: 2px;
$viewpoint: 1.5vw;

// funciones:
@function color($color-name){//funcion para dar color
    @return map-get($colors,$color-name)
};
@mixin desktop {//hace la pagina web responsive
    @media (min-width:#{$desktop}){
        @content;
    }    
};
@mixin cambio1 {//hace la pagina web responsive
    @media (min-width:#{$cambio1}){
        @content;
    }    
};
@mixin cambio2 {//hace la pagina web responsive
    @media (min-width:#{$cambio2}){
        @content;
    }    
};
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes filterIn{
    from{filter: blur(0);
        -webkit-filter: blur(0);}
    to{filter: blur(8px);
        -webkit-filter: blur(8px);}
}



//classes:
#fondo{
    background-image: url("../../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;  
    animation: filterIn 0s;
    filter: blur(8px);
        -webkit-filter: blur(8px);
}
.bloque{
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: max-content;
    header{
        z-index: 2;
        grid-row: 1;
        display: grid;
        width: 100%;
        animation: fadeIn 1s;
    }
    main{
        position: relative;
        grid-row: 2;
        display: grid;
        align-items: flex-start;
        justify-items: center;
    }
    div#comprar{
        z-index: 2;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
header{
    grid-row: 50px 50px;
    
    #dropdown{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        text-align: end;
        grid-row: 1;
        padding: 0 $padding;
        justify-self: end;
        background-color: color(primary);
        @include cambio2{
            grid-template-columns: 50% 50%;
            grid-template-rows: 60px;
        };
        @include cambio1{
            grid-template-columns: 1fr 1fr 1fr;
        };
        
        .logo{
            display: grid;
            grid-column: 1;
            grid-row: 2;
            position: relative;
            height: 50px;
            width: 240px;
            margin: 15px;
            z-index: 0;
            align-self: center;
            justify-self: center;
            @include cambio2{
                grid-row: 1;               
                grid-column: 1;
                align-self: center;
                justify-self: start;                 
            };
        }
        .logo:hover{
            cursor: pointer;
        }
        #ppic{
            width: 40px;
            height: 40px;
            margin: 10px;
            z-index: 2;
            border-radius: 50%;            
        }
        input{
            grid-row: 3;
            grid-column: 1;
            width: 80%;
            padding: $padding;
            align-self: center;
            justify-self: center;
            height: 40%;
            border-radius: 15px;
            @include cambio2{
                grid-row: 2;               
                grid-column: 1/3;               
            };
            @include cambio1{
                grid-row: 1;
                grid-column: 2;
            };
            
        }
        .dropbtn{
            align-self: center;
            justify-self: center;
            grid-row: 1;
            grid-column: 1;
            color: color(tertiary);
            font-size: 1em;
            cursor: pointer;
            @include cambio2{
                grid-row: 1;               
                grid-column: 2;  
                align-self: center;
                justify-self: end;             
            };
            @include cambio1{
                grid-row: 1;               
                grid-column: 3;               
            };
            
        }
        a:hover .dropdown-content {
            display: block;
            color: color(acento);
        }
        .dropdown-content {
            margin-top: 10px;
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            left: 0;
            background-color: color(primary);
            box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
            z-index: 1;
            a{
                font-size: .7em;
                text-transform: uppercase;
                // font-weight: bold;
                color: color(tertiary);
                padding: 10px;
                text-decoration: none;
                display: block;
                cursor: pointer;
            }
        }
        .dropdown-content a:hover {
            background-color:color(secondary); 
            border: solid $borders color(tertiary);
            color: color(acento);
        }  
    }
    
    div.title{
        animation: fadeIn 1s;
        width: 100%;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: $padding;
        color: color(tertiary);
        h1{
            margin: 0;
            background: color(secondary);
            border: $borders solid color(primary);
        }
    }    
}

main{
    display: grid;
    font-weight: normal;
    font-size: 3vw;
    @include cambio2{
        font-size: 2.5vw;    
    };
    @include cambio1{
        font-size: 1.5vw;    
    };
    
    .tabla-historial{
        animation: fadeIn 1s;
        display: grid;
        width: 90%;
        height: fit-content;
        background-color: color(primary);
        border-top: $borders solid color(tertiary);
        border-left: $borders solid color(tertiary);
        border-right: $borders solid color(tertiary);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .id{
            display: grid;
            grid-column: 1;
            align-items: center;
            justify-items: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            border-right: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
        }
        .fecha{
            display: grid;
            grid-column: 2;
            align-items: center;
            justify-items: center;
            text-align: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            border-right: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
        }
        .precio{
            display: grid;
            grid-column: 4;
            align-items: center;
            justify-items: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            border-right: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
        }
        .entregado{
            display: grid;
            grid-column: 3;
            align-items: center;
            justify-items: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            border-right: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
        }
        .no-entregado{
            display: grid;
            grid-column: 3;
            align-items: center;
            justify-items: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            border-right: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
        }
        .comprar{
            display: grid;
            grid-column: 5;
            align-items: center;
            justify-items: center;
            color: color(tertiary);
            border-bottom: $borders solid color(tertiary); 
            width: 100%;
            height: auto;
            text-transform: uppercase;
            a{
                width: 100%;
                height: 100%;
                display: grid;
                align-items: center;
                justify-items: center;
                margin: .6em; 
                opacity: 0.7;
                z-index: 0;
                padding: 0;
                text-transform: uppercase;
                text-align: center; 
                color: greenyellow;
            }
            a:hover{
                opacity: 1;
                cursor: pointer;    
            }
        }
        #historial{
            grid-column: 1/6;
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            
        }
        
    }
}





