<div id="fondo"></div>
<div class="bloque" *ngIf="auth.user | async as user">
    <header>
        <div id="dropdown">
          <a class="dropbtn"><img src="{{user.photoURL}}" alt="">{{user.name}} &#9776;
            <div class="dropdown-content">
                <a (click)="cambiarClave(user)">clave</a>
                <a (click)="compras()">compras</a>
                <a  (click)="menu()" >menu</a>
                <a (click)="auth.signOut()">salir</a>
            </div>
          </a>
        </div>
        <div class="title"><h1>historial de compras</h1></div>
    </header>
    <main>
      <div class="tabla-historial">
        <div class="id">Numero de Compra</div>
        <div class="fecha">Fecha de Compra</div>
        <div class="entregado" >estado</div>
        <div class="precio">Precio</div>
        <div class="comprar">Comprar</div>
        <div id="historial" *ngFor="let orden of user.ordenes; let i=index">
          <div class="id">{{000+i}}</div>
          <div class="fecha">{{orden.date}}</div>
          <div class="entregado" *ngIf="orden.entregado">entregado</div>
          <div class="no-entregado" *ngIf="!orden.entregado">en espera</div>
          <div class="precio">{{orden.monto}} BsS.</div>
          <div class="comprar">
            <button type="button" class="btn btn-primary" (click)="cs.ordenarCompra($event, user, orden)">comprar</button> 
          </div>
        </div>        
      </div>
    </main>
</div>