// variables:
$colors:(
    primary: #0b172a,
    primary-light: lighten(#0b172a,40%),
    primary-dark: darken(#0b172a,40%),
    secondary: #463940,
    tertiary: #bc4123,
    acento: white,
);
$desktop: 1200px;
$cambio1: 840px;
$padding: 15px;
$borders: 4px;
$margin: 50px;

// funciones:
@function color($color-name){//funcion para dar color
    @return map-get($colors,$color-name)
};
@mixin desktop {//hace la pagina web responsive
    @media (min-width:#{$desktop}){
        @content;
    }    
}
@mixin cambio1 {//hace la pagina web responsive
    @media (min-width:#{$cambio1}){
        @content;
    }    
};


.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
    height: 20%;
    width: 95%;
    align-self: flex-start;
    font-weight: bold;
    text-transform: uppercase;
    border: color(primary) solid $borders;
    box-shadow: 0 20px 60px color(primary);
    margin: 15px;
    .extras{
        grid-column: 2;
        width: auto;
        #extras{
            width: 100%;
        }
        .list-group-item{
            font-size: 0.7em;
            padding: 0;
            display: inline;
            font-weight: normal;
            button{
                border: none;
                background: none;
                cursor: pointer;
                display: inline;
            }
        }
    }
    
    .card-body{
        display: grid;
        img{
            align-self: center;
            justify-self: center;
            padding: $padding;
            align-self: center;
            width: 100px;
            height: 100px;
        }
        grid-column: 1;
        h5{
            height: fit-content;
            align-self: center;
            font-weight: bold;
            font-size: 1em;
        }  
    }
    .card-body2{
        grid-column: 3;
        font-weight: bold;
        display: grid;
        text-transform: uppercase;
        padding: $padding;
        height: fit-content;
        h5{
            font-size: 1em;
            align-self: flex-start;
            font-weight: bold;
        }
        button{
            text-transform: uppercase;
           
            color: color(tertiary);
            background: color(acento);
            padding: 0;
            margin: 0;
            text-align: center; 
            border: solid color(tertiary);
            z-index: 2;
            cursor: pointer;
            align-self: center;
            
        }
        button:hover{
            color: color(acento);
            background: color(tertiary);
            border: $borders color(primary) solid;
            opacity: 1;    
        }
    }
}
