// variables:
$colors:(
    primary: #0b172a,
    primary-light: lighten(#0b172a,40%),
    primary-dark: darken(#0b172a,40%),
    secondary: #463940,
    tertiary: #bc4123,
    acento: white,
);
$desktop: 1200px;
$cambio1: 840px;
$padding: 10px;
$borders: 2px;

// funciones:
@function color($color-name){//funcion para dar color
    @return map-get($colors,$color-name)
};
@mixin desktop {//hace la pagina web responsive
    @media (min-width:#{$desktop}){
        @content;
    }    
};
@mixin cambio1 {//hace la pagina web responsive
    @media (min-width:#{$cambio1}){
        @content;
    }    
};
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes filter{
    from{filter: blur(8px);
        -webkit-filter: blur(8px);}
    to{filter: blur(0);
        -webkit-filter: blur(0);}
}


//classes:
#background{
    background-image: url("../../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    animation: filter 2s;
}

main{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    animation: fadeIn 1s;
    button{
        text-transform: uppercase;
        display: block;
        grid-row: 3;
        text-decoration: none;
        color: white;
        background: color(primary);
        padding: $padding;
        margin: .6em;
        font-size: 0.7em;
        text-align: center;     
        border: $borders solid color(tertiary);
    }
    button:hover{
        background: color(tertiary);
        border: $borders color(acento) solid;    
    }
    section#bloque{
        position: static;
        margin: 20px;
        position: static;
        grid-column: 2;
        grid-row: 1;
        padding: $padding;
        display: grid;
        grid-template-rows: auto auto auto;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 20px 60px rgba(0, 0, 0, .2);
        border: $borders color(primary) solid;
        border-radius: 10px;
        height: fit-content;
        width: 250px;
        align-items: center;
        justify-items: center;
        #logo{
            position: relative;
            grid-row:1;
            img{
                align-self: center;
                justify-self: center;
                width:100%;
                height: 100%;
                padding: $padding;
                margin: 5px;
            }
            
            
        }
        form{
            grid-row: 2;
            display: grid;
            #login{
                label{
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                    color: color(primary);
                }
                input{
                    padding: $padding;
                    border:$borders solid color(primary);
                    margin: 0.5em;
                }
            }
            button{
                margin:20px;
                grid-row: 2;
                justify-self: center;
                align-self: center;
                font-weight: bold;
            }
        }
        div.registers{
            grid-row: 3;
            display: grid;
            grid-template-rows: auto auto;
            align-items: center;
            align-self: center;
            justify-self: center;
            align-items: center;
            justify-items: center;
            position: relative;
            button{
                background-color: color(acento);
                border: solid color(primary);
                width: fit-content;
                height: fit-content;
                
            }
            button:hover{
                border: solid color(acento);
            }
            img{
                width: 20px;
                height: 20px;
            }
            #googlebtn{
                grid-row: 1;
            }
            #fcbkbtn{
                grid-row: 1;
            }
            #register{
                grid-row: 1;
                align-self: center;
            }
        }
        
    }
    
}