<div id="background"></div>
<main>
    <section id="bloque">
        <div id="logo">
            <a routerLink=""><img src="../../assets/img/logo-login.png" alt=""></a>
        </div>
        <div id="login">
            <label for="usuario">Username:</label>
            <input type="text" name="usuario" id="usuario">
            <label for="clave">Password:</label>
            <input type="text" name="clave" id="clave">  
        </div>
        <button routerLink="menu" type="button" class="btn btn-primary">login</button>
    </section>
    <div class="registro">
        <app-register></app-register>
    </div>   
</main>