<div id="background"></div>
<main>
    <section id="bloque">
        <div id="logo">
            <a routerLink=""><img src="../../assets/img/logo-login.png" alt=""></a>
        </div>
        <form [formGroup]="form" (ngSubmit)="logIn()">
            <div id="login">
                <label for="email">E-mail:</label>
                <input type="text" formControlName="email" >
                <label for="password">Password:</label>
                <input type="password" formControlName="password">  
            </div>
            <button  type="button submit" class="btn btn-primary">login</button>
        </form>
        
    </section>
    <div class="registro">
        <app-register></app-register>
    </div>   
</main>