<div id="fondo"></div>
<div class="bloque" *ngIf="auth.user | async as user"  >
    <header>
        <div class="logo"><img src="" alt=""></div>
        <div id="dropdown">
            <a class="dropbtn"><img src="{{user.photoURL}}" alt="">{{user.name}} &#9776;</a>
            <div class="dropdown-content">
                <a (click)="cambiarClave(user)">clave</a>
                <a (click)="compras()">compras</a>
                <a  (click)="comprar()" >orden</a>
                <a (click)="auth.signOut()">salir</a>
                <hr *ngIf="auth.canEdit(user)">
                <a (click)="toggleModo()" *ngIf="auth.canEdit(user)">modo admin</a>
            </div>
        </div>
        <div class="title">
            <h1>menu</h1>
        </div>
    </header>
    <main>
        <div *ngIf="mostrarRegister2(user)">
            <app-register2 [u]=user></app-register2>
        </div>
        <div id="menu-layout" *ngIf="!modo">
            <app-comida [u]=user></app-comida>
        </div>  
        <div id="menu-layout" *ngIf="modo">
            <app-comida-admin ></app-comida-admin>
        </div>  
    </main>
    <div id="b-footer" *ngIf="!modo">
        <button (click)=comprar() type="button" class="btn btn-primary">checkout: {{user.carrito.monto}} BsS.</button>
    </div>
    <div id="b-footer" *ngIf="modo">
        <app-formulario-producto-nuevo></app-formulario-producto-nuevo>
    </div>
</div>


