<div id="fondo"></div>
<div class="bloque" *ngIf="auth.user | async as user"  >
    <header>
        <div id="dropdown">
            <input type="text" placeholder="Buscar comida..." [(ngModel)]="searchterm " (ngModelChange)="comida.search($event)" >
            <img src="../../assets/img/logo.png" (click)="menu()" class="logo">
            <a class="dropbtn">
                <img src="{{user.photoURL}}" id="ppic">{{user.name}} &#9776;
                <div class="dropdown-content">
                    <a  (click)="menu()" >menu</a>
                    <a (click)="compras()">historial  de compras</a>
                    <a  (click)="orden()" >carrito: {{user.carrito.monto}} BsS.</a>
                    <a (click)="auth.cambiarClave(user);">cambiar clave</a>
                    <a (click)="auth.signOut()">salir</a>
                    <hr *ngIf="auth.canEdit(user)">
                    <a (click)="toggleModo()" *ngIf="auth.canEdit(user)">modo admin</a>
                </div>
            </a>
        </div>
        <div class="title">
            <h1>Menu</h1>
        </div>
    </header>
    <main>
        <div *ngIf="mostrarRegister2(user)">
            <app-register2 [u]=user></app-register2>
        </div>
        <div id="menu-layout" *ngIf="!modo">
            <app-comida [u]=user></app-comida>
        </div>  
        <div id="menu-layout" *ngIf="modo">
            <app-comida-admin ></app-comida-admin>
        </div>  
    </main>
    <div id="b-footer" *ngIf="!modo">
        <button (click)=orden() type="button" class="btn btn-primary" id="normal" *ngIf="user.carrito.monto == 0">
            carrito: 0 BsS.
        </button>
        <button (click)=orden() type="button" class="btn btn-primary" id="active" *ngIf="user.carrito.monto != 0">
            carrito: {{user.carrito.monto}} BsS.
        </button>
    </div>
    <div id="b-footer" *ngIf="modo">
        <app-formulario-producto-nuevo></app-formulario-producto-nuevo>
    </div>
</div>


