<div id="fondo"></div>
<div class="bloque" *ngIf="auth.user | async as user">
    <header>
        <div id="dropdown">
            <a class="dropbtn"><img src="{{user.photoURL}}" alt="">{{user.name}} &#9776;
                <div class="dropdown-content">
                    <a (click)="cambiarClave(user)">clave</a>
                    <a (click)="compras()">compras</a>
                    <a  (click)="menu()" >menu</a>
                    <a (click)="auth.signOut()">salir</a>
                </div>
            </a>
        </div>
        <div class="title"><h1>orden</h1></div>
    </header>
    <main>
        <div class="orden">
            <span *ngFor="let comida of user.carrito.comida; let i = index">
                <app-comida-carrito [c]=comida [i]= i></app-comida-carrito>
            </span>
        </div>
        <div class="f-detallada">
            <app-factura-detallada [u]= user></app-factura-detallada>
        </div>
    </main>
    <div id="comprar">
        <button (click)="menu()" type="button" class="btn btn-primary">regresar</button>
    </div>
</div>