<div class="cuerpo">
  <div *ngFor="let c of Menu" class="card">
    <img class="card-img-top" src="{{c.img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        {{c.name}}
        <app-formulario-editar-producto [eComida]=c></app-formulario-editar-producto>
      </h5>
      <button (click)="disponible($event, c)" type="button" class="btn btn-primary" *ngIf="c.disponible" id="disponible" >disponible</button>
      <button (click)="disponible($event, c)" type="button" class="btn btn-primary" *ngIf="!c.disponible" id="no_disponible">no disponible</button>
      <p class="card-text">{{c.description}}</p> 
    </div>
    <div class="extras" *ngIf="c.extras.length>0">
        <h5>extras:</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let e of c.extras" class="list-group-item">{{e}} <button type="button" class="btn btn-primary" (click)="eliminarExtra($event,c,e)">&#10060;</button></li>
        </ul>
    </div>
    <app-nuevo-extra [eComida]=c ></app-nuevo-extra>
    <div class="card-body2">
      <h5>Precio: {{c.price}}</h5>
      <button (click)="deleteComida($event, c)" type="button" class="btn btn-primary" >eliminar</button>
    </div>
  </div>  
</div>
  