// variables:
$colors:(
    primary: #0b172a,
    primary-light: lighten(#0b172a,40%),
    primary-dark: darken(#0b172a,40%),
    secondary: #463940,
    tertiary: #bc4123,
    acento: white,
);
$desktop: 1200px;
$cambio1: 840px;
$padding: 15px;
$borders: 4px;
$margin: 50px;

// funciones:
@function color($color-name){//funcion para dar color
    @return map-get($colors,$color-name)
};
@mixin desktop {//hace la pagina web responsive
    @media (min-width:#{$desktop}){
        @content;
    }    
}
@mixin cambio1 {//hace la pagina web responsive
    @media (min-width:#{$cambio1}){
        @content;
    }    
};

img{
    padding: $padding;
    align-self: center;
    height: 195px;
    width: auto;
}
.cuerpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: $margin;
    align-items: center;
    justify-items: center;
    @include cambio1{
        grid-template-columns: 1fr 1fr;
    };
    @include desktop{
        grid-template-columns: 1fr 1fr 1fr;  
    };
}
.comida{
    display: grid;
    height: 100%;
    width: 80%;
}
#nodisponible{
    opacity: 0.5;
}
.card{
    float: left;
    height: 100%;
    width: 80%;
    align-self: flex-start;
    justify-self: center;
    font-weight: bold;
    text-transform: uppercase;
    border: color(primary) solid $borders;
    box-shadow: 0 20px 60px color(primary);
    .extras{
        h5{ 
            padding: $padding;
            font-weight: bold;
            font-size: .9em;
            height: fit-content;
            align-self: flex-start;
            font-weight: bold;
        }
        .list-group-item{
        
            border-bottom: 4px solid color(secondary);
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            color: color(secondary);
            font-weight: normal;
            font-size: .7em;
        }
    }
    .card-body{
        h5{
            font-size: 1.2em;
            height: fit-content;
            align-self: flex-start;
            font-weight: bold;
        }
        p{
            font-size: .8em;
            height: fit-content;
            font-weight: normal;
        }
    }
    .card-body2{
        font-weight: bold;
        display: grid;
        text-transform: uppercase;
        padding: $padding;
        height: fit-content;
        h4{
            font-size: 1.5em;
            align-self: flex-start;
            font-weight: bold;
        }
        button{
            text-transform: uppercase;
            font-weight: bolder;
            font-size: .7em;
            color: color(tertiary);
            background: color(acento);
            // padding: $padding;
            margin: 0;
            text-align: center; 
            border: $borders solid color(tertiary);
            z-index: 2;
            cursor: pointer;
            align-self: center;
        }
        button:hover{
            color: color(acento);
            background: color(tertiary);
            border: $borders color(primary) solid;
            opacity: 1;    
        }
    }
}

