/* You can add global styles to this file, and also import other style files */
// variables:
$colors:(
    primary: #0b172a,
    primary-light: lighten(#0b172a,40%),
    primary-dark: darken(#0b172a,40%),
    secondary: #463940,
    tertiary: #bc4123,
    acento: white,
);
$desktop: 1200px;
$cambio1: 840px;
$padding: 15px;
$borders: 2px;

// funciones:
@function color($color-name){//funcion para dar color
    @return map-get($colors,$color-name)
};
@mixin desktop {//hace la pagina web responsive
    @media (min-width:#{$desktop}){
        @content;
    }    
};
@mixin cambio1 {//hace la pagina web responsive
    @media (min-width:#{$cambio1}){
        @content;
    }    
};
body{
    position: absolute;
    width: 100%;
    height: 100%;
}